/* ไฟล์ src/styles/global.css */
@import "tailwindcss";

/* 🌟 ฝังลิงก์ Google Fonts ไว้ในไฟล์ CSS นี้ที่เดียวจบเลย! */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;700&display=swap');

@theme {
    --font-sans: 'Prompt', sans-serif;

    --color-cj-blue-200 : #4A6EB0;
    --color-cj-blue-100 : #6a8dcc;

    --color-cj-gray-100 : #f4f6fa;
}