---

import MainLayout from '../layouts/navLayout.astro';

---
<!DOCTYPE html>
<html lang="th">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>
	
	<MainLayout title="Shop">
	
	</MainLayout>
</body>
</html>
